Repository IvanDLar/MOVU-Docs, pull requests merged in 2023-04, with the labels that each got.

#193 FR-sprint1 documentation
  Modules/FR_FrontPageResults/Delivery.md
  Modules/FR_FrontPageResults/Sprint 1/retrospective.md
Labels: documentation

#197 Update retrospective and delivery for DB module
  Modules/DB_DataBase/Delivery.md
  Modules/DB_DataBase/Sprint 1/retrospective.md
Labels: DB - Data Base

#199 Update Delivery for CD
  Modules/CD_CarDetails/Delivery.md
Labels: CD - Car Details
